<div [class]="{
    status : true,
    'status-online': currentStatus() ==='online',
    'status-offline': currentStatus() === 'offline',
    'status-unknown': currentStatus() === 'unknown'
}">
    @if(currentStatus() === 'online'){
        <p>Servers are online</p>
        <p>All systems are optional.</p>
    }@else if (currentStatus() === 'offline') {
        <p>Server are offline</p>
        <p>Functionality should be restored soon.</p>
    }@else {
        <p>Server status is unknown</p>
        <p>Fetching for server status</p>
    }
</div>