<app-header />

<main>
    <div id="dashboard">
        <app-dashboard-tem [image]="{src:'status.png', alt:'A symbol'}" title="Server Status">
            <app-server-status />
        </app-dashboard-tem>
        <app-dashboard-tem [image]="{src:'globe.png', alt:'A globe'}" title="Traffic">
            <app-traffic />
        </app-dashboard-tem>
        <app-dashboard-tem [image]="{src:'list.png', alt:'A list of items'}" title="Support tickets">
            <app-tickets />
        </app-dashboard-tem>
    </div>
</main>